
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Add New Post</title>
</head>
<body>
 <%= user %> 
  <%- include('./../partials/nav') %> 
  <h1><%= title %></h1>

    <form id="new-form" action="/boardposts" method="POST">
      <div>
        <label for="title-input">Job Title:</label>
        <select type='text' name="title" id="title" required>
            <option type='text'value="Embalmer">Embalmer</option>
            <option type='text'value="Transporter">Transporter</option>
          </select>
      </div>
      <div>
        <label for="content-input">Job description:</label>
        <input type="text" name="content" id="boardpost-content-input" required>
      </div>
      <div>
        <label for="date">Time:</label>
        <input type="datetime-local" name="date">
      </div>
      <button type="submit">Add Job</button>
    </form>
    
</body>
</html>